<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Leisure Time Apparel Co.</a>
    by Tim Lei
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">Blog</a></li>
    </ul>
  </nav>
</footer>